/* Ids */
#title {
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

/* Classes */
.ButtonLayout {
    display: flex;
    flex-flow: row wrap;
    
    width: 1200px;
    justify-content: space-between;
    align-items: space-between;
    background-color: red;

    margin-left:auto;
    margin-right:auto;
}
.DownloadButton {
    color: black;
    background-color: purple;
    font-size:30px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;

    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
    border-color:blueviolet;
    
    width: 250px;
}

/* Core HTML */
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button span {
    display: flex;
    align-items: space-between;
    gap: 5px;
}