/* Ids */
#title {
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

/* Classes */
.ButtonLayout {
    display: flex;
    flex-flow: row wrap;
    
    width: 700px;
    justify-content: space-between;
    align-items: space-between;

    margin-left:auto;
    margin-right:auto;
}
.DownloadButton {
    color: black;
    background-color: orangered;
    text-decoration: none;

    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
    border-color: darkred;
    
    width: 125px;
}
.DownloadText {
    padding:5px;
    text-align:center;
    font-size:12px;
    
}
.NonFlexButtons {
    color: black;
    background-color: orangered;
    font-size:12px;
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;

    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
    border-color: darkred;
    
    width: 125px;
}

/* Core HTML */
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button span {
    display: flex;
    align-items: space-between;
    gap: 5px;
}