/* Ids */
#title {
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

/* Classes */
.ButtonLayout {
    display: flex;
    flex-flow: row wrap;
    
    width: 700px;
    justify-content: space-between;
    align-items: space-between;

    margin-left:auto;
    margin-right:auto;
}
.DownloadButton {
    color: white;
    background-color: rgb(247, 59, 59);
    text-decoration: none;

    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: rgb(247, 59, 59);
    
    width: 125px;
    margin:5px;
}
.DownloadText {
    padding:3px 1px;
    text-align:center;
    font-size:16px;
    font-family: sans-serif;
    
}
.NonFlexButtons {
    color: white;
    background-color: rgb(247, 59, 59);
    text-decoration: none;

    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: rgb(247, 59, 59);
    
    width: 125px;
    margin:5px;

    padding:3px 1px;
    text-align:center;
    font-size:16px;
    font-family: sans-serif;
}

/* Core HTML */
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button span {
    display: flex;
    align-items: space-between;
    gap: 5px;
}